@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: aqua;
}

.main-div{
    height: 100vh;
    background-color: #316594;
    text-align: center;
}

.sub-btn{
    display: block;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    width: 100px;
    border-radius: 8%;
    background-color: #EB455F;
    color: #f1f1f1;
    border-style: none;
}

.sub-btn:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px #333;
    transition: box-shadow 0.5s;
}

.head-1{
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1;
    padding-top: 5%;
}

.input-box{
    padding: 1%;
    border-style: none;
    border-radius: 2%;
    margin-right: 1%;
    box-shadow: 2px 2px 2px #333;
}

.form-div{
    padding-top: 5%;
}